body{
	color: chartreuse;
	background-color: black;
	font-family: "Nanum Gothic Coding", monospace;
}
.column {
	float: left;
	width: 13%;
	padding: 5px;
	position: fixed;
	outline-style: solid;
	outline-width: 12px;
	outline-color: rgba(128, 255, 0, 0.418);
	width: 150px;
	padding-bottom: 590px;
}
.menu {
	text-align: center;
}
.column2 {
	float: left;
	padding: 5px;
	margin-left: 195px;
	padding-top: 40px;
	position: absolute;
	outline-style: solid;
    outline-width: 12px;
    outline-color: rgba(128, 255, 0, 0.418);
}
a {
	text-decoration: none;
	color: chartreuse;
}
.blogitem {
	outline-style: solid;
	outline-width: 12px;
	outline-color: rgba(128, 255, 0, 0.418);
}
.tag {
	border-style: solid;
	border-color: chartreuse;
	width: 10px;
	font-size: 12px;
}